<h1>BOOKs</h1>
<table>
  <thead>
   <tr>
      <th>Tilte</th>
      <th>Body</th>
      <th colspan="3"></th>
    </t>
  </thead>
  <tbody>
    <% @books.each do |a| %>
      <tr>
	<td><%= a.title %></td>
	<td><%= a.body %></td>
	<td><%= link_to "Show", book_path(a), class: "show_#{a.id}" %></td>
	<td><%= link_to "Edit", edit_book_path(a.id), class: "edit_#{a.id}" %></td>
	<td><%= link_to "Destroy", book_path(a.id), class: "destroy_#{a.id}", method: :delete %></td>
      </tr>
    <% end %> 
  </tbody>
</table>
<h3>New book</h3>
<%= form_for(@book) do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title, class: "book_title" %>
  <h4>Body</h4>
  <%= f.text_area :body, class: "book_body" %>
  <%= f.submit "Crate Book" %>
<% end %>
